// GLOBAL
body {
    padding: 13px !important;
    background-color: #f5f6f8 !important;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1300px;

    margin: 0 auto;
}

body .btn {
    background-color: #5a8cf6;
    border-radius: 5px;
    border: 1px solid #1158ea;
    color: #fff;
    font-weight: 300;
    height: 40px;

    &:hover {
        color: #fff;
        background-color: rgba(90, 140, 246, 0.82);
    }
}

// HEADER
.header-main {
    margin-bottom: 25px;
}

.header-inner,
.header-account-info,
.header-settings {
    display: flex;
    align-items: center;
}

.header-inner {
    justify-content: space-between;
}

.header-account-info {
    gap: 25px;
}

.date {
    span {
        margin-right: 25px;
        font-size: 13px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.header-settings {
    gap: 25px;

    svg {
        cursor: pointer;
        color: #6a6f8d;

        &:hover {
            opacity: 0.9;
        }
    }
}

.account-logo {
    img {
        border-radius: 50%;

        width: 30px;
        height: 30px;
    }
}

.search {
    position: relative;

    input[type='text'] {
        width: 100%;
        min-width: 520px;
        border: none;
        background-color: #f5f6f8;
        border-radius: 7px;
        height: 35px;
        padding-left: 40px;
        padding-right: 15px;
        font-size: 13px;
    }

    .s-icon {
        position: absolute;
        left: 5px;
        top: 5px;
    }
}

// CONTENT
.main-content {
    position: relative;
    background-color: #fff;
    min-height: 95vh;

    padding: 20px 17px;
    border-radius: 20px;

    border: 1px solid #e3e4e9;
}

.content-block-title,
.search-filter-block,
.buttons_grid,
.filter-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-block-title {
    margin-bottom: 30px;
}

.content-title {
    position: relative;
    font-size: 34px;
    font-weight: 700;
    padding-left: 27px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 15px;
        height: 100%;
        background-color: #cabdff;
        border-radius: 5px;
    }
}

.filter-area,
.buttons_grid {
    gap: 15px;
}

.search-filter-block {
    margin-bottom: 25px;
}

.filter-select,
.list-btn,
.grid-btn {
    background-color: transparent;
    outline: none;
    border: none;
}

.filter-select,
.buttons_grid {
    background-color: #edeef1;
    border-radius: 10px;
}

.filter-select {
    padding: 8px;
}

.buttons_grid {
    padding: 5px;

    button {
        transition: all 0.2s linear;
        border-radius: 5px;

        svg {
            transition: all 0.2s linear;
            color: #9da2b4;
        }

        &.active-btn,
        &:hover {
            background-color: #fff;

            svg {
                color: #333;
            }
        }
    }
}

// SIDEBAR
.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 25px;
    border-radius: 5px;

    li {
        display: flex;
        align-items: center;
        border-radius: 5px;

        a {
            display: block;
            padding: 5px 12px;
            color: #333;
            text-decoration: none;
            font-weight: 500;

            span {
                padding-right: 8px;
            }
        }

        &.active,
        &:hover {
            background-color: #fff;
            box-shadow: 0px 2px 4px 0px #d3caca;

            a {
                color: #014fff;
                width: 100%;
            }
        }
    }
}

// GRID OF ITEMS
.notes-grid {
    // margin-right: 40px;
}

.note-grid-item {
    background-color: #b0e5fc;
}

// MASONRY GRID
.masonry-with-columns,
.masonry-with-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    // gap: 20px;

    img,
    .note-grid-item {
        // width: 33.3%;

        img {
            width: 100%;
        }
    }
}

.masonry-with-columns div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

// POPUP
.add-note-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    z-index: 12;
    padding: 20px;

    border-radius: 10px;
    height: 500px;
    width: 550px;
    background-color: #fff;
}

.popup-bg {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(51 51 51 / 87%);
    border-radius: 20px;
}

.popup-inner {
    height: 100%;

    form {
        justify-content: space-between;
        height: 100%;

        .title-note-input {
            margin-bottom: 20px;
        }

        label {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
        }

        input,
        select {
            background-color: #f5f6f8;
            outline: none;
            border: none;
            height: 50px;
            border-radius: 10px;
            padding: 0 15px;
        }
    }

    form,
    .form-inner {
        display: flex;
        flex-direction: column;
    }
}
